*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ProductSans;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/Weather-Image-HD.jpg);
    background-size: 100% 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#main_container{
    width: 45vw;
    height: 65vh;
    background-color: rgb(0, 0, 0,0.55);
    border-radius: 3em;
    cursor: pointer;
}
#first_container{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}
#search_inputbox{
    font-size: 2em;
    border-radius: 2em;
    outline: none;
    border: none;
    padding: 0.5em;
    background-color: black;
    color: white;
}
#search_icon{
    font-size: 2em;
    position: relative;
    left: -2em;
}
#search_inputbox::placeholder{
    color: white;
}
#second_container{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
#location_icon{
    font-size: 7em;
    color: red;
}
#city_name{
    font-size: 4em;
}
#third_container{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#weather_icon_container{
    width: 22%;
    height: 15vh;
}
#weather_report_heading_container{
    width: 50%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#celsius_container{
    width: 28%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#weather_icon{
    font-size: 7em;
    color: yellow;
    position: relative;
    left: 0.2em;
}
#weather_report_heading{
    font-size: 3em;
    text-align: center;
    color: white;
}
#celsius_heading{
    font-size: 4em;
    color: white;
}
#fourth_container{
    width: 100%;
    height: 21.9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#humidity_container{
    width: 40%;
    height: 20vh;
    background-color: rgb(0, 0, 0,0.05);
    position: relative;
    left: 2em;
    top: -0.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#wind_container{
    width: 40%;
    height: 20vh;
    background-color: rgb(0, 0, 0,0.05);
    position: relative;
    left: -2em;
    top: -0.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#humidity_icon,#wind_icon{
    font-size: 3em;
}

